html,
body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    padding-top: 10em;
}

button {
    width: 7em;
    height: 2em;
    font-size: 4em;
}

.clicked {
    background-color: black;
    color: white;
}